@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: crimson;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}

.container {
    text-align: justify;
    background-image: url(../images/IMG-20201207-WA0026\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color:crimson;
    z-index: -1;
}

.container li {
            text-decoration: none;

}