@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   
    font-family: 'Roboto', sans-serif;
}

#nav-menu {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #df1d1d, #5f1782 ) ;
    padding: 0 !important ; 
}

.nav-bar li {
    padding: 0 10px;
} 

.nav-bar li a{
    color: white !important;
    font-weight: 600;
}
