@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   
    font-family: 'Roboto', sans-serif;
}

#nav-menu {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #df1d1d, #5f1782 ) ;
    padding: 0 !important ; 
}

.nav-bar li {
    padding: 0 10px;
} 

.nav-bar li a{
    color: white !important;
    font-weight: 100;
}

.navbar-toogler{
    outline: none !important;
}

#banner {
      background-image: linear-gradient(to right, #df1d1d, #5f1782 );
      color: white;
      padding-top: 5%;
}

.promo-title {
    font-size: 35px;
    font-weight: 100;
    margin-top: 100px;
}

.cv {
    width: 45px;
    margin: 20px;
} 

#banner a {
    color: white;
    text-decoration: none;
}

/* filed section */

#field{
    padding: 80px 0;
}

.field-img {
    width: 100px;
    margin-top: 20px;
} 

.field {
    padding: 20px;
}

.field h4 {
    padding:5px ;
    margin-top: 20px;
        text-transform: uppercase;
}

.title::before {
    content:'';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content:'';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#field .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #df1d1d, #5f1782;)
}

#about-me{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;

}

.image-fluid {
    width: 100%;
    height: 500px;
    padding: 70px;
}


